@import url('https://fonts.googleapis.com/css?family=Montserrat');

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-form input {
  padding: 15px 20px;
  border-radius: 10px;
  max-width: 150%;
  color: black;
  background-color: #ebe6ea;
  outline: none;
  border: 3px solid #48373d;
}

.wrapper-form button {
  padding: 15px 10px;
  font-size: 1rem;
  font-family: Montserrat;
  text-transform: uppercase;
  border-radius: 16px;
  color: #48373d;
  cursor: pointer;
  border: 3px solid #48373d;
  transition: 0.5s all ease;
}

.wrapper-form button:hover {
  transition: 0.5s all ease;
  color: #fff;
  background-color: #48373d;
}

.grid-wrapper {
  margin-bottom: 0;
  margin-top: 3%;
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

img {
  box-shadow: rgba(145, 30, 103, 0.4) 5px 5px, rgba(77, 22, 56, 0.3) 10px 10px,
    rgba(99, 62, 85, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px,
    rgba(209, 186, 201, 0.05) 25px 25px;
  width: 300px;
  height: 300px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.img-error {
  display: none;
}

.error {
  margin-top: 2%;
  font-family: 'Fira Sans';
  text-transform: uppercase;
  font-weight: 800;
  color: #ff0000;
  text-align: center;
  font-size: 2em;
}

@media screen and (max-width: 750px) {
  .wrapper {
    font-size: 1.6em;
  }

  .wrapper-form  {
    padding: 10px 5px;
  }

  .grid-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
