.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-form {
  padding: 10px 10px;
} 

.wrapper-form input {
    padding: 10px;
    border-radius: 10px;
  color: #ebe6ea;
  background-color: #ebe6ea;
}

.wrapper-form button {
  padding: 10px 10px;
  border-radius: 16px;
  color: #ebe6ea;
  background-color: #48373d;
}

/*
color: #ebe6ea;
background-color: #48373d;
*/
