.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper-form {
    margin-top: 10%;
}

.wrapper-form input {
  padding: 10px;
  border-radius: 10px;
  color: black;
  background-color: #ebe6ea;
  outline: none;
}

.wrapper-form button {
  padding: 10px 10px;
  border-radius: 16px;
  color: #ebe6ea;
  background-color: #48373d;
}

/*
color: #ebe6ea;
background-color: #48373d;
*/
