.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-wrapper .input {
    color: white;
    background-color: red;
}

::placeholder {
    color: white;
}